
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Sablon/_Sablon.cshtml";
}




<div class="row">
    <div class="col-lg-12">
        <h1>Full Slider by Start Bootstrap</h1>
        <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the <code>full-slider.css</code>file.</p>
    </div>
</div>